body {
    background: linear-gradient(to top right, #fc9300 0%, #ff0707 100%);    
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 179, 0);
}
p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.6;
    padding: 0 20px;
}
a {
    color: #ffff00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
} 
nav {
    padding: 10px;
    text-align: left;
}
nav a {
    margin: 0 15px;
    font-weight: bold;
}   
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
button {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #00ae00;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: left;
    margin-bottom: 20px;
    flex: auto;
}
#breakfast, #lunch, #dinner, #treats {
    margin-bottom: 40px;
    background-color: #c09900;
    border: #ff6600 2px solid;
}
.content-container {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 20px;
	gap: 20px;
}
h2, h3 {
    color: white;
    padding: 10px 20px;
}
#contact {
    margin-top: 20px;
    background-color: #ff8000;
    padding: 10px 20px;
    color: black;
}
#about {
    background-color: #ff8000;
    padding: 10px 20px;
    color: black;
}
#subscribe {
    background-color: #ff8000;
    padding: 10px 20px;
    color: black;
}
.meal-item {
    background-color: #ff3232;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.food {
    color: rgb(0, 0, 0);
}
.food:hover {
    color: #00ff00;
}